<!-- <div class="d-flex align-items-center">
  <select class="form-select" [(ngModel)]="selectedEmisor" name="emisorSelect" (change)="onChangeEmisor($event)">
    <option value="" disabled selected>Selecciona un emisor</option>
    <option *ngFor="let emisor of emisores" [value]="emisor.Codigo" [selected]="emisor.NombreEmisor === emisores[0].NombreEmisor"><strong>{{ emisor.Codigo }} -</strong> {{ emisor.NombreEmisor }}</option>
  </select>
  <div class="ms-2 d-flex">
    <button class="btn btn-primary" (click)="onSubmit()">Aceptar</button>
  </div>
</div> -->

  <br>
  <input type="text" class="form-control" placeholder="Buscar por cédula" [(ngModel)]="identificacionBusqueda">
  <br>

  <ng-template #modalTemplate>
    <div class="modal-header">
      <h4 class="modal-title">Añadir nuevo Trabajador</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #myForm="ngForm" (submit)="onSubmit(myForm)" class="responsive-form">
        <div class="form-group">
          <label for="codigoEmisor">Código Compañía</label>
          <input id="codigoEmisor" class="form-control" [(ngModel)]="codigoEmisorSeleccionado" name="codigoEmisor" readonly>
        </div>
        <div class="form-group">
          <label for="tipoTrabajador">Tipo Trabajador</label>
          <select id="tipoTrabajador" class="form-control" [(ngModel)]="tipoTrabajadorSeleccionado" name="tipoTrabajador" required>
            <option *ngFor="let option of tipoTrabajadorOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input id="apellidoPaterno" class="form-control" [(ngModel)]="apellidoPaterno" name="apellidoPaterno" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <div class="form-group">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input id="apellidoMaterno" class="form-control" [(ngModel)]="apellidoMaterno" name="apellidoMaterno" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <div class="form-group">
          <label for="nombres">Nombres</label>
          <input id="nombres" class="form-control" [(ngModel)]="nombres" name="nombres" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <div class="form-group">
          <label for="identificacion">Identificacion</label>
          <input id="identificacion" class="form-control" [(ngModel)]="identificacion" name="identificacion" required (keyup)="validarIdentificacion()" (keydown)="onlyNumbers($event)">
          <div class="validation-message" *ngIf="identificacionInvalid">Identificación inválida</div>
        </div>
        <div class="form-group">
          <label for="entidadBancaria">Entidad Bancaria</label>
          <input id="entidadBancaria" class="form-control" [(ngModel)]="entidadBancaria" name="entidadBancaria" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <div class="form-group">
          <label for="carnetIESS">Carnet IESS</label>
          <input id="carnetIESS" class="form-control" [(ngModel)]="carnetIESS" name="carnetIESS" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input id="direccion" class="form-control" [(ngModel)]="direccion" name="direccion" required>
        </div>
        <div class="form-group">
          <label for="telefonoFijo">Teléfono Fijo</label>
          <input id="telefonoFijo" class="form-control" [(ngModel)]="telefonoFijo" name="telefonoFijo" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="telefonoMovil">Teléfono Móvil</label>
          <input id="telefonoMovil" class="form-control" [(ngModel)]="telefonoMovil" name="telefonoMovil" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="genero">Genero</label>
          <select id="genero" class="form-control" [(ngModel)]="generoSeleccionado" name="generoOptions" required>
            <option *ngFor="let option of generoOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nroCtaBancaria">Nro. Cuenta Bancaria</label>
          <input id="nroCtaBancaria" class="form-control" [(ngModel)]="nroCtaBancaria" name="nroCtaBancaria" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="codigoCatOcupacion">Cód. Categoria Ocupación</label>
          <input id="codigoCatOcupacion" class="form-control" [(ngModel)]="codCatOcupacion" name="codigoCatOcupacion" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <div class="form-group">
          <label for="ocupacion">Ocupación</label>
          <input id="ocupacion" class="form-control" [(ngModel)]="ocupacion" name="ocupacion" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <div class="form-group">
          <label for="centroCostos">Centro Costos</label>
          <select id="centroCostos" class="form-control" [(ngModel)]="centroCostosSeleccionado" name="centroCostos" required>
            <option *ngFor="let option of centroCostosOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nivelSalarial">Nivel Salarial</label>
          <input id="nivelSalarial" class="form-control" [(ngModel)]="nivelSalarial" name="nivelSalarial" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <div class="form-group">
          <label for="estadoTrabajador">Estado Trabajador</label>
          <select id="estadoTrabajador" class="form-control" [(ngModel)]="estadoTrabajadorSeleccionado" name="estadoTrabajador" required>
            <option *ngFor="let option of estadoTrabajadorOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tipoContrato">Tipo Contrato</label>
          <select id="tipoContrato" class="form-control" [(ngModel)]="tipoContratoSeleccionado" name="tipoContrato" required>
            <option *ngFor="let option of tipoContratoOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tipoCese">Tipo Cese</label>
          <select id="tipoCese" class="form-control" [(ngModel)]="tipoCeseSeleccionado" name="tipoCese" required>
            <option *ngFor="let option of tipoCeseOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="estadoCivil">Estado Civil</label>
          <select id="estadoCivil" class="form-control" [(ngModel)]="estadoCivilSeleccionado" name="estadoCivil" required>
            <option *ngFor="let option of estadoCivilOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tipoComision">Tipo Comision</label>
          <input id="tipoComision" class="form-control" [(ngModel)]="tipoComision" name="tipoComision" required>
        </div>
        <div class="form-group">
          <label for="fechaNacimiento">Fecha Nacimiento</label>
          <input type="date" id="fechaNacimiento" class="form-control" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" required>
        </div>
        <div class="form-group">
          <label for="fechaIngreso">Fecha Ingreso</label>
          <input type="date" id="fechaIngreso" class="form-control" [(ngModel)]="fechaIngreso" name="fechaIngreso" required>
        </div>
        <div class="form-group">
          <label for="fechaCese">Fecha Cese</label>
          <input type="date" id="fechaCese" class="form-control" [(ngModel)]="fechaCese" name="fechaCese" required>
        </div>
        <div class="form-group">
          <label for="periodoVacaciones">Periodo Vacaciones</label>
          <input type="number" id="periodoVacaciones" class="form-control" [(ngModel)]="periodoVacaciones" name="periodoVacaciones" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="fechaReingreso">Fecha Reingreso</label>
          <input type="date" id="fechaReingreso" class="form-control" [(ngModel)]="fechaReingreso" name="fechaReingreso" required>
        </div>
        <div class="form-group">
          <label for="fechaUltActualizacion">Fecha Última Actualizacion</label>
          <input type="date" id="fechaUltActualizacion" class="form-control" [(ngModel)]="fechaUltActualizacion" name="fechaUltActualizacion" required>
        </div>
        <div class="form-group">
          <label for="esReingreso">¿Es Reingreso?</label>
          <select id="esReingreso" class="form-control" [(ngModel)]="esReingresoSeleccionado" name="esReingreso" required>
            <option *ngFor="let option of esReingresoOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tipoCuenta">Tipo Cuenta</label>
          <select id="tipoCuenta" class="form-control" [(ngModel)]="tipoCuentaSeleccionado" name="tipoCuenta" required>
            <option *ngFor="let option of tipoCuentaOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formaCalculo13ro">Forma Calculo 13ro</label>
          <input type="number" id="formaCalculo13ro" class="form-control" [(ngModel)]="formaCalculo13ro" name="formaCalculo13ro" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="formaCalculo14ro">Forma Calculo 14ro</label>
          <input type="number" id="formaCalculo14ro" class="form-control" [(ngModel)]="formaCalculo14ro" name="formaCalculo14ro" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="boniComplementaria">Boni. Complementaria</label>
          <input type="number" id="boniComplementaria" class="form-control" [(ngModel)]="boniComplementaria" name="boniComplementaria" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="boniEspecial">Boni. Especial</label>
          <input type="number" id="boniEspecial" class="form-control" [(ngModel)]="boniEspecial" name="boniEspecial" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="remuneracionMinima">Remuneración Mínima</label>
          <input type="number" id="remuneracionMinima" class="form-control" [(ngModel)]="remuneracionMinima" name="remuneracionMinima" required (keydown)="onlyNumbers($event)">
        </div>
        <div class="form-group">
          <label for="fondoReserva">Fondo Reserva</label>
          <input id="fondoReserva" class="form-control" [(ngModel)]="fondoReserva" name="fondoReserva" required (keydown)="onlyLettersAndNumbers($event)">
        </div>
        <button type="submit" [disabled]="!myForm.valid || identificacionInvalid" class="btn btn-primary">Crear nuevo</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cerrar</button>
      <!-- <button type="button" class="btn btn-primary" (click)="crearTrabajador()">Crear</button> -->
    </div>
  </ng-template>
  

  <button class="btn btn-primary mb-3" (click)="nuevoTrabajador()">Crear nuevo Trabajador</button>
  <div class="formulario-nuevo-centro-costos">
      <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Codigo Compañia</th>
                    <th>ID Trabajador</th>
                    <th>Tipo</th> <!-- Nueva columna para los botones -->
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombres</th>
                    <th>Identificación</th>
                    <th>Entidad_Bancaria</th>
                    <th>CarnetIESS</th>
                    <th>Direccion</th>
                    <th>Telefono Fijo</th>
                    <th>Telefono Movil</th>
                    <th>Genero</th>
                    <th>Nro. Cta. Bancaria</th>
                    <th>Codigo Categoria Ocupacion</th>
                    <th>Ocupacion</th>
                    <th>Centro Costos</th>
                    <th>Nivel Salarial</th>
                    <th>EstadoTrabajador</th>
                    <th>Tipo Contrato</th>
                    <th>Tipo_Cese</th>
                    <th>Estado Civil</th>
                    <th>Tipo de Comision</th>
                    <th>Fecha Nacimiento</th>
                    <th>FechaIngreso</th>
                    <th>Fecha Cese</th>
                    <th>Periodo de Vacaciones</th>
                    <th>Fecha Reingreso</th>
                    <th>Fecha Ult Actualizacion</th>
                    <th>Es Reingreso</th>
                    <th>Banco CTA_CTE</th>
                    <th>Tipo Cuenta</th>
                    <th>RSV_Indem_Acumul</th>
                    <th>Año_Ult_Rsva_Indemni</th>
                    <th>Mes_Ult_Rsva_Indemni</th>
                    <th>FormaCalculo13ro</th>
                    <th>FormaCalculo14ro</th>
                    <th>BoniComplementaria</th>
                    <th>BoniEspecial</th>
                    <th>Remuneracion_Minima</th>
                    <th>CuotaCuentaCorriente</th>
                    <th>Fondo_Reserva</th>
                    <!-- <th>Mensaje</th> -->
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cc of (datosTablaOriginal.length > 0 ? datosTablaOriginal : trabajadores) | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage } | filter: identificacionBusqueda">
                <td>{{ cc.COMP_Codigo }}</td>
                <td>{{ cc.Id_Trabajador }}</td>
                <td>{{ cc.Tipo_trabajador }}</td>
                <td>{{ cc.Apellido_Paterno }}</td>
                <td>{{ cc.Apellido_Materno }}</td>
                <td>{{ cc.Nombres }}</td>
                <td>{{ cc.Identificacion }}</td>
                <td>{{ cc.Entidad_Bancaria }}</td>
                <td>{{ cc.CarnetIESS }}</td>
                <td>{{ cc.Direccion }}</td>
                <td>{{ cc.Telefono_Fijo }}</td>
                <td>{{ cc.Telefono_Movil }}</td>
                <td>{{ cc.Genero }}</td>
                <td>{{ cc.Nro_Cuenta_Bancaria }}</td>
                <td>{{ cc.Codigo_Categoria_Ocupacion }}</td>
                <td>{{ cc.Ocupacion }}</td>
                <td>{{ cc.Centro_Costos }}</td>
                <td>{{ cc.Nivel_Salarial }}</td>
                <td>{{ cc.EstadoTrabajador }}</td>
                <td>{{ cc.Tipo_Contrato }}</td>
                <td>{{ cc.Tipo_Cese }}</td>
                <td>{{ cc.EstadoCivil }}</td>
                <td>{{ cc.TipodeComision }}</td>
                <td>{{ cc.FechaNacimiento | date: 'yyyy/MM/dd' }}</td>
                <td>{{ cc.FechaIngreso | date: 'yyyy/MM/dd' }}</td>
                <td>{{ cc.FechaCese | date: 'yyyy/MM/dd' }}</td>
                <td>{{ cc.PeriododeVacaciones }}</td>
                <td>{{ cc.FechaReingreso | date: 'yyyy/MM/dd' }}</td>
                <td>{{ cc.Fecha_Ult_Actualizacion | date: 'yyyy/MM/dd' }}</td>
                <td>{{ cc.EsReingreso }}</td>
                <td>{{ cc.BancoCTA_CTE }}</td>
                <td>{{ cc.Tipo_Cuenta }}</td>
                <td>{{ cc.RSV_Indem_Acumul }}</td>
                <td> Año_Ult_Rsva_Indemni </td> <!--este campo tiene ñ y da este error: Parser Error: Lexer Error: Unexpected character [ñ] -->
                <td>{{ cc.Mes_Ult_Rsva_Indemni }}</td>
                <td>{{ cc.FormaCalculo13ro }}</td>
                <td>{{ cc.FormaCalculo14ro }}</td>
                <td>{{ cc.BoniComplementaria }}</td>
                <td>{{ cc.BoniEspecial }}</td>
                <td>{{ cc.Remuneracion_Minima }}</td>
                <td>{{ cc.CuotaCuentaCorriente }}</td>
                <td>{{ cc.Fondo_Reserva }}</td>
                <!-- <td>{{ cc.Mensaje }}</td> -->
                <td>
                  <button class="btn btn-sm btn-primary me-2" (click)="editarTrabajador(cc.COMP_Codigo, cc.Id_Trabajador)">Editar</button>
                  <button class="btn btn-sm btn-danger" (click)="eliminarTrabajador(cc.COMP_Codigo, cc.Id_Trabajador)">Eliminar</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Navegación de paginación -->
    <div class="pagination-container">
        <pagination-controls
          (pageChange)="currentPage = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          firstLabel="Primera"
          lastLabel="Última"
          class="pagination"
        >
        </pagination-controls>
      </div>