@media (max-width: 500px) {
    th {
        font-size: smaller;
    }
    button{
        font-size: smaller;
    }
    input{
        font-size: smaller;
    }
    pagination-controls{
        font-size: smaller;
    }
   
  }
  
  
  
  @media (min-width: 501px) and (max-width: 991px) {
    th {
        font-size: smaller;
    }
    button{
        font-size: smaller;
    }
    input{
        font-size: smaller;
    }
    pagination-controls{
        font-size: smaller;
    }
  }