<div class="formulario-nuevo-centro-costos">
    <div class="table-container">
  
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>IdTrabajadaor</th>
            <th>Tipo_trabajador</th> <!-- Nueva columna para los botones -->
            <th>Apellido_Paterno</th>
            <th>Apellido_Materno</th>
            <th>Nombres</th>
            <th>Entidad_Bancaria</th>
            <th>CarnetIESS</th>

        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cc of (datosTablaOriginal.length > 0 ? datosTablaOriginal : trabajadores) | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
            <td>{{ cc.COMP_Codigo }}</td>
            <td>{{ cc.Id_Trabajador }}</td>
            <td>{{ cc.Tipo_trabajador }}</td>
            <td>{{ cc.Apellido_Paterno }}</td>
            <td>{{ cc.Apellido_Materno }}</td>
            <td>{{ cc.Nombres }}</td>
            <td>{{ cc.Identificacion }}</td>
            <td>{{ cc.Entidad_Bancaria }}</td>
            <td>{{ cc.CarnetIESS }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>