.logo {
  display: inline-block;
  width: 90%;
  margin-right: 10px;
  vertical-align: middle;
}

h2 {
  font-size: large;
}

h5 {
  text-align: center;
  margin: 10px 8px 20px 8px;
  ;
  font-weight: bold;
}

/* Estilos para los elementos internos */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}


.secondary-navigation {
  display: flex;
  justify-content: right;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  flex-wrap: wrap;
  background-color: #d2d2d2;
}

.head-information {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}



.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background-color: #d2d2d2;
  color: #fff;
  padding: 20px;
  margin-top: 0;
}

.content {
  margin-left: 240px;
  padding: 20px;
}


.sidebar ul li a.nav-link {
  color: black;
  transition: color 0.3s;
}

.sidebar ul li a.nav-link:hover {
  color: blue;
}

.sidebar ul li a.nav-link.active {
  color: red;
}


/* Estilo para el texto en el enlace del submenú */
#submenu .d-none.d-sm-inline {
  color: black;
  /* Cambia el color del texto a rojo */
  font-weight: bold;
}

.submenuO {
  margin-top: 25px;
  padding-left: 15px;
}

.submenuO a {
  text-decoration: none;
  /* Quitar subrayado */
  color: black;
  /* Letras negras */
}



@media (max-width: 767px) {

  /* Estilos para pantallas pequeñas */
  .logo {
    display: inline-block;
    width: 0%;
    margin-right: 5px;
    vertical-align: middle;
  }

  h2 {
    font-size: medium;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #d2d2d2;
    color: #fff;
    padding: 5px;
    margin-top: 0;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: small;
  }

  .sidebar ul li a.nav-link {
    color: black;
    transition: color 0.3s;
    font-size: smaller;
  }

  .secondary-navigation {
    display: flex;
    justify-content: left;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    flex-wrap: wrap;
    background-color: #d2d2d2;
  }

  /* Estilo para el texto en el enlace del submenú */
  #submenu .d-none.d-sm-inline {
    color: black;
    /* Cambia el color del texto a rojo */
    font-weight: bold;
    font-size: medium;
  }

  .head-information {
    padding-top: 0.5rem;
    padding-left: 6.5rem;
    padding-right: 0.5rem;
  }

  .content {
    margin-left: 100px;
  }
}



@media (min-width: 668px) and (max-width: 991px) {

  /* Estilos para pantallas medianas */
  h2 {
    font-size: medium;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #d2d2d2;
    color: #fff;
    padding: 20px;
    margin-top: 0;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: small;
  }

  .sidebar ul li a.nav-link {
    color: black;
    transition: color 0.3s;
    font-size: smaller;
  }

  .secondary-navigation {
    display: flex;
    justify-content: right;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    flex-wrap: wrap;
    background-color: #d2d2d2;
  }

  /* Estilo para el texto en el enlace del submenú */
  #submenu .d-none.d-sm-inline {
    color: black;
    /* Cambia el color del texto a rojo */
    font-weight: bold;
    font-size: smaller;
  }

  .head-information {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}